* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#contenitore-form {
    width: 100%;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: salmon;

}

form {
    display: flex;
    align-self: center;
    justify-content: center;
    width: 80%;
    min-height: 200px;
    text-align: center; 
    border:1px solid whitesmoke;
    background-color: whitesmoke;
}

#contenuto-form {
    align-self:center;
}

#popup_ticket {
   display: flex; 
   align-self: center;
   justify-content: center;
   width: 80%;
   min-height: 200px;
   background-color: whitesmoke; 
   border:1px solid black;
}

#contenuto-popup {
    align-self:center;
}
